---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cutdown from '../components/Cutdown.astro'
import Events from '../components/Events.astro';
---

<Layout title="Welcome to Wedding">
	<main>
		<ul role="list" class="link-card-grid">
			<Hero/>
			<Cutdown/>
			<Events />
		</ul>
	</main>
</Layout>
