---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Countdown from "../components/Countdown.astro";
import Events from "../components/Events.astro";
import Confirmation from "../components/Confirmation.astro";
import Gift from "../components/Gift.astro";
import DressCode from "../components/DressCode.astro";
import Farewell from "../components/Farewell.astro";
import Songs from "../components/Songs.astro";
---

<Layout title="Carola & Shary">
  <main>
    <Hero />
    <Countdown />
    <Events />
    <Confirmation />
    <DressCode />
    <Gift />
    <Songs />
    <Farewell />
  </main>
</Layout>

<style is:global>
  @keyframes fade_in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 2s ease-out,
      transform 2s ease-out;
  }

  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }

  .slideRight {
    opacity: 0;
    transform: translatex(-40px);
    transition:
      opacity 1s ease-out,
      transform 1s ease-out;
  }

  .slideLeft {
    opacity: 0;
    transform: translatex(40px);
    transition:
      opacity 1s ease-out,
      transform 1s ease-out;
  }

  .slideRight.show, .slideLeft.show {
    opacity: 1;
    transform: translateX(0);
  }
</style>
