---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Countdown from "../components/Countdown.astro";
import Events from "../components/Events.astro";
import Confirmation from "../components/Confirmation.astro";
import Gift from "../components/Gift.astro";
---

<Layout title="Welcome to Wedding">
  <main>
    <Hero />
    <Countdown />
    <Events />
    <Confirmation/>
    <Gift />
  </main>
</Layout>
