<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=devise-width, initial-scale=1.0" />

        <style>
            #cards-container {
                background-color: rgb(190, 181, 181);
                background-position: center center;
                width: 600px;
                padding: 50px 2px 50px 2px;
                height: 200px;
                text-align: center;
                line-height: 30px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .imagen {
                width: 2000px;
                height: 450px;
                background-position: center center;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .formula {
                color: #ffffff;
                border: 2px solid rgb(235, 208, 223);
                border-radius: 30px;
                transition: 0, 5s;
                background-color: rgb(236, 204, 214);
                padding: 10px 20px;
                font-size: 20px;
                font-weight: 200;
            }

            .formula:hover {
                background-color: transparent;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: rgb(10, 10, 10);
            }

            h1 {
                font-size: 50px;
                margin-top: 50px;
                font-weight: 600;
                margin-bottom: 50px;
                color: rgb(226, 212, 220);
            }

            body {
                background-color: rgb(248, 238, 244);
            }
        </style>
    </head>

    <body>
        <div>
            <img
                src="fondo-abstracto-natural-gotas-rocio-cristal-sobre-telarana-luz-sol-bokeh_169016-14073.jpg"
                class="imagen"
            />
        </div>
        <main>
            <div id="cards-container">
                <div class="confirmacion">
                    <h1>CAROLA Y SHARIANNY</h1>
                    <p>Espero que seas parte de esta gran celebracion. ¡Confirmanos tu asistencia!</p>
                <a href="formulario1.html" target="_blank" class="formula">Confirmar asistencia</a>
                </div>
            </div>
        </main>
    </body>
</html>
