<style>
  #cards-container {
    background-color: #fff;
    background-position: center center;
    width: 100%;
    max-width: 600px;
    padding: 25px 2px 50px;
    height: auto;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formula {
    color: #ffffff;
    border: 2px solid #e6dbc8;
    border-radius: 30px;
    transition: 1s;
    background-color: #e6dbc8;
    padding: 5px 40px;
    font-size: small;
    font-weight: 450;
    margin: 3px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    max-width: 150px;  
}

  .formula:hover {
    background-color: transparent;
    color: #dcc8b4;
  }

  p {
    font-size: small;
    display: block;
    color: #666666;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
  }

  h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 500;
    color: #e6dbc8;
    font-family: "Montserrat";
  }

  main {
    background: url("/bgConfirmation.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
  }

    /* SIZE FOR 640px */
    @media (min-width: 640px) {
      p {
        font-size: large;
      }
      h1 {
        font-size: 50px;
      }
  }

  /* SIZE FOR 1024px */
  @media (min-width: 1024px) {
  }
</style>

<main class="fade-in">
  <div id="cards-container">
    <div class="confirmacion">
      <h1>RSPV</h1>
      <p>Espero que seas parte de esta gran celebracion.</p>
      <p>¡Confirmanos tu asistencia!</p>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdW2MNrglehWBmiLAHzLwOnCrolTRkofHxRKpsMmfAbPpho_g/viewform?usp=sf_link"
        target="_blank"
        class="formula">CONFIRMAR</a>
      <div class="agendar">
        <a href="" target="_blank" class="formula">AGENDAR EVENTO</a>
      </div>
    </div>
  </div>
</main>

<script>
  const ele = document.querySelectorAll(".fade-in");
  const wh = window.innerHeight * 0.8;

  document.addEventListener("scroll", () => {
    ele.forEach(e => {
      if(e.getBoundingClientRect().top < wh){
        e.classList.add("show")
      } 
    })
  })
</script>
