<style>
  #cards-container {
    background-color: #fff;
    background-position: center center;
    width: 600px;
    padding: 25px 2px 50px;
    height: 200px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imagen {
    width: 2000px;
    height: 450px;
    background-position: center center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formula {
    color: #ffffff;
    border: 2px solid #dcc8b4;
    border-radius: 30px;
    transition: 1s;
    background-color: #dcc8b4;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 100;
    margin: 3px;
    text-decoration: none;
    display: inline-block;
  }

  .formula:hover {
    background-color: transparent;
    color: #dfd5db;
  }

  p {
    font-size: 18px;
    color: rgb(10, 10, 10);
    margin: 5px;
    margin-bottom: 20px;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 300;
  }

  h1 {
    font-size: 50px;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #dcc8b4;
    font-family: "Montserrat";
  }

  main {
    background: url("/bgConfirmation.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px;
  }
</style>

<main>
  <div id="cards-container">
    <div class="confirmacion">
      <h1>RSPV</h1>
      <p>
        Espero que seas parte de esta gran celebracion. ¡Confirmanos tu
        asistencia!
      </p>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdW2MNrglehWBmiLAHzLwOnCrolTRkofHxRKpsMmfAbPpho_g/viewform?usp=sf_link"
        target="_blank"
        class="formula">CONFIRMAR ASISTENCIA</a>
      <div class="agendar">
        <a href="" target="_blank" class="formula">AGENDAR EVENTO</a>
      </div>
    </div>
  </div>
</main>
