---
const TIMESTAMP = 1727271000000;
---

<section class="main fade-in">
  <div class="countdown" data-date={TIMESTAMP}>
    <div class="digits">
      <span class="num" data-days>00</span>
      <span>Días</span>
    </div>
    <div class="digits">
      <span class="num" data-hours>00</span>
      <span>Horas</span>
    </div>
    <div class="digits">
      <span class="num" data-minutes>00</span>
      <span>Minutos</span>
    </div>
    <div class="digits">
      <span class="num" data-seconds>00</span>
      <span>Segundos</span>
    </div>
  </div>
  <article class="text fade-in">
    <img class="icon" src="/corazones2.png" alt="icono de corazon" />
    <p>
      Nos conocimos de la manera más inesperada.
      Nos enamoramos cita tras cita, vivimos momentos inolvidables, y ahora ha llegado el día en que daremos el "¡Sí, quiero!".
    </p>
    <span class="footer"> ¡NOS CASAMOS! <span>
  </article>
</section>

<style>
  .main,
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
  }

  .countdown {
    display: flex;
    gap: 10px;
  }

  .digits {
    min-width: 65px;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 1px dotted #565656;
    border-radius: 100%;
  }

  span, p {
    font-family: 'Noto Serif Georgian', serif;
    font-size: x-small;
    color: #666;
  }

  .num {
    font-size: medium;
  }

  .icon {
    max-width: 80px;
    border-radius: 100%;
  }
  p {
    text-align: center;
    font-family: 'Noto Serif Georgian', serif;
    font-size: small;
    margin: 10px;
    color: #666
  }
  .text {
    max-width: 600px;
  }
  .footer {
    font-size: large ;
  }

  /* SIZE FOR 640px */
  @media (min-width: 640px) {
    .countdown {
      gap: 30px;
    }

    span {
      font-size: medium;
    }

    .num {
      font-size: x-large;
    }

    .digits {
      min-width: 95px;
      min-height: 95px;
      padding: 15px;
    }

    p {
        font-size: 17px;
    }
  }

  /* SIZE FOR 1024px */
  @media (min-width: 1024px) {
    .countdown {
      gap: 40px;
    }

    span {
      font-size: large;
    }

    .num {
      font-size: xx-large;
    }

    .digits {
      padding: 25px;
    }

    .icon {
      max-width: 80px;
    }
    p {
      font-size: 23px;
    }
  }
</style>

<script>
  const ele = document.querySelectorAll(".fade-in");
  const wh = window.innerHeight * 0.8;

  document.addEventListener("scroll", () => {
    ele.forEach(e => {
      if(e.getBoundingClientRect().top < wh){
        e.classList.add("show")
      } 
    })
  })
</script>

<script>
  const SECOND = 1000;
  const MINUTE = SECOND * 60;
  const HOUR = MINUTE * 60;
  const DAY = HOUR * 24;

  function init() {
    const $countdown = document.querySelector("[data-date]");
    if (!$countdown) return;

    const $days = $countdown.querySelector("[data-days]");
    const $hours = $countdown.querySelector("[data-hours]");
    const $minutes = $countdown.querySelector("[data-minutes]");
    const $seconds = $countdown.querySelector("[data-seconds]");

    const timestamp = $countdown.getAttribute("data-date");
    if (!timestamp) return;

    const date = new Date(+timestamp).getTime();

    const formatTime = (time: number) => {
      return Math.floor(time).toString().padStart(2, "0");
    };

    function updateCountdown() {
      const now = Date.now();
      const diff = date - now;

      if ($days instanceof HTMLElement) {
        $days.innerText = formatTime(diff / DAY);
      }

      if ($hours instanceof HTMLElement) {
        $hours.innerText = formatTime((diff % DAY) / HOUR);
      }

      if ($minutes instanceof HTMLElement) {
        $minutes.innerText = formatTime((diff % HOUR) / MINUTE);
      }

      if ($seconds instanceof HTMLElement) {
        $seconds.innerText = formatTime((diff % MINUTE) / SECOND);
      }
    }

    setInterval(updateCountdown, SECOND);
  }

  init();
</script>
