<section class="main">
    <div class="dresscode">
        <img src="dresscode.svg" />
        <h1>DRESS CODE:</h1>
        <p>Formal Elegante</p>
    </div>
</section>
<style>
    img {
        width: 80px;
        padding: 60px 0px 10px 0px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main {
        background-color: #dcc8b4;
    }
    h1 {
        color: #ffffff;
        padding: 20px 0px 0xp 0xp;
        font-size: 30px;
        font-weight: 400;
        width: 300px;
        height: 50px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        color: #ffffff;
        padding: 10px 0px 50px 0px;
        font-size: 25px;
        font-weight: 300;
        width: 300px;
        height: 50px;
        font-family: 'Noto Serif Georgian', serif;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
