---
import Card from "./Card.astro";
---

<h1>Esta es mi seccion de eventos</h1>
<Card href="#" title="Titulo de la card" body="Lorem ipsum aasdf"/>
<Card href="#" title="Titulo de la card" body="Lorem ipsum aasdf"/>

<style>
    h1 {
        color: aqua;
    }
</style>