<section class="farewell">
    <div>
        <img class="farewell_img" src="/titulo-portada.png" alt="farewell img"/>
        <p>
            Gracias por acompañarnos y compartir nuestra felicidad...
        </p>
    </div>
</section>
<style>
    .farewell {
        background: url("/foto-de-dos.png");
        height: 30vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-blend-mode: soft-light;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: center;

    }

    .farewell_img {
        animation: 5s fade_in;
    }

    img {
        margin-top: 60px;
        max-width: 100xp;
        margin-top: 0;
        width: 10vw;
        text-align: center;
    }
    p {
        font-size: 20px;
        color: #ffffff;
        margin: 5px;
        margin-bottom: 20px;
        font-family: "Noto Serif Georgian", serif;
        font-weight: 300;
        text-align: center;
    }
</style>
