<style>
    .main {
        background: url("/public/imagegift.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 45px;
    }
    #container {
        background-color: #fff;
        background-position: center center;
        width: 600px;
        padding: 50px 2px 50px;
        height: 200px;
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<main>
    <div id="container">
        <div class="gitf">
            <p>
                Gracias por su cariño, apoyo y presencia en nuestro gran día.
                Tendrenos un buzón en la recepcion donde podrán depositar su
                sobre con el regalo en efectivo. Por favor, no olviden añadir
                una tarjeta con sus mejores deseos para nuestro matrimonio.
            </p>
        </div>
    </div>
</main>
