---
import ChevronDown from "../icons/Chevron-down.astro";
---

<section class="hero">
    <img class="hero_img" src="/titulo-portada.png" alt="Hero img">
    <ChevronDown/>
</section>
<style>
    .hero {
        background: url("/foto-de-dos.png");
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-blend-mode: soft-light;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .hero_img {
        animation: 5s fade_in ;
    }

    img{
        margin-top: 60px;
        max-width: 300px;
    }

    @media (min-width:640px){
        img{
            margin-top: 0;
            max-width: none; 
        }
        .hero {
            align-items: center;
        }
    }
</style>
