<div>
    <h2>¿QUÉ CANCIONES NO PUEDEN FALTAR?</h2>
    <p>
        ¡Ayudanos sugiriendo las canciones que pensás que no pueden faltar en la
        fiesta!
    </p>
    <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdW2MNrglehWBmiLAHzLwOnCrolTRkofHxRKpsMmfAbPpho_g/viewform?usp=sf_link"
        target="_blank"
        class="sugerir">SUGERIR</a
    >
</div>
<style>
     .sugerir {
        color: #ffffff;
        border: 2px solid #e6dbc8;
        border-radius: 30px;
        transition: 1s;
        background-color: #e6dbc8;
        padding: 5px 40px;
        font-size: small;
        font-weight: 450;
        margin: 3px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        max-width: 150px;
    }
    .sugerir:hover {
        background-color: transparent;
        color: #dcc8b4;
    }
</style>
