<div class="cancion">
    <div class="song-container fade-in">
        <h2>¿QUÉ CANCIONES NO PUEDEN FALTAR?</h2>
        <p>
            ¡Ayudanos sugiriendo las canciones que pensás que no pueden faltar en la
            fiesta!
        </p>
        <a
            href="https://forms.gle/JxJ5pbaroan5kT5d7"
            target="_blank"
            class="sugerir">SUGERIR</a
        >
    </div>
</div>
<style>
    .sugerir {
        color: #e6dbc8;
        border: 2px solid #fff;
        border-radius: 30px;
        transition: 1s;
        background-color: #fff;
        padding: 12px 40px;
        font-size: small;
        font-weight: 600;
        margin: 3px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        max-width: 150px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;

        
    }
    .song-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .sugerir:hover {
        background-color: transparent;
        color: #ffffffcb;
    }
    .cancion {
        background: #e6dbc8;
        padding: 50px 10px;
    }
    h2 {
        color: #ffffff;
        font-size: larger;
        font-weight: 400;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
    }
    p {
        font-family: "Noto Serif Georgian", serif;
        margin: 0;
        font-weight: 300;
        font-size: small;
        text-align: center;
        text-wrap: balance;
    }
     /* SIZE FOR 640px */
  @media (min-width: 640px) {
    p {
        font-size: large;  
    }
    h2 {
        font-size: xx-large;
    }
  }
</style>
<script>
    const ele = document.querySelectorAll(".fade-in");
    const wh = window.innerHeight * 0.8;
  
    document.addEventListener("scroll", () => {
      ele.forEach(e => {
        if(e.getBoundingClientRect().top < wh){
          e.classList.add("show")
        } 
      })
    })
</script>
